


body {
    background-color: #E5DADA;
  }

.container {
width: 75%;
margin: 0;

}

header {
background: #002642

}

nav {
  background-color: #002642;
  overflow: hidden;
}


nav a {
  float: left;
  color: #e59500;
  text-align: center;
  padding: 10px 15px;
  font-size: 28px;
  font-family: 'Anton', sans-serif;
}

nav:hover {
  color: #e59500;
  text-decoration: underline;

}

nav ul {
margin: 0;
padding: 2;
list-style: none;
}

nav li {
  display: inline-block;
  margin: 35px;
  padding-top: 20px;
}